@model CommentViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <form>
        <div class="form-group">
            <label asp-for="Comment.BlogId">Blog ID</label>
            <label asp-for="Comment.BlogId"></label>
        </div>
        <div class="form-group">
            <label asp-for="Comment.Content">Content</label>
            <label asp-for="Comment.Content"></label>
        </div>
    </form>

    <a asp-action="Index" class="btn btn-dark"> Back To List</a>
</div>

